<footer>
  <div class="text-white py-5 bg-dark">
    <div class="container">
      <p class="mb-0 text-center">
        &copy; 2023 <a href="/" class="text-decoration-none">Roadbike Group Ride</a>
      </p>
    </div>
  </div>
</footer>
