// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  width: 100%;
/*  以下を修正
  max-width: 330px;
  padding: 15px;  */
  margin: auto;
  max-width: 400px;
  padding: 60px 20px;
}
/* 以下を追加 */
*{
  font-family: 'Sawarabi Gothic', 'Noto Sans JP', sans-serif;
}
.login {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
}
.bland-red{
  color: #cc0000;
}